#download_cv{
    background-color: #fff;
    color: #007bff;
    border-color: #007bff;
}

#download_cv:hover{
    background-color: #007bff;
    color: #fff;
}
.habilidades-title{
    margin-bottom: 1.5rem;
    font-size: 1.5rem !important;
}
.habilidades .habilidades-icon{
    width: 25%;
    padding: .5rem;
    align-self: center;
}
.habilidades .habilidades-icon img{
    width: 100%;
}
